* {
  margin: 0;
  box-sizing: border-box;
}
.app {
  overflow-x: hidden;
  background-image: url("./components/Navbar/Backgrounds/home.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 800px) {
  .app {
    height: auto;
    background-image: url("./components/Navbar/Backgrounds/small-home.png");
    padding-bottom: 40px;
  }
}
